/IntroduccionJDBC/EjerIntroJdbc/nbproject/private/
/IntroduccionJDBC/EjerIntroJdbc/build/
/ManejoJDBC/EjercicioManejoPersonas/nbproject/private/
/ManejoJDBC/EjercicioManejoPersonas/build/
/TransaccionesJDBC/EjercicioManejoTransacciones/nbproject/private/
/TransaccionesJDBC/EjercicioManejoTransacciones/build/
/CreacionCapaDeDatos/EjercicioCapaDatos/nbproject/private/
/CreacionCapaDeDatos/EjercicioCapaDatos/dist/
/FuncionesOracleJDBC/EjercicioFunciones/nbproject/private/
/FuncionesOracleJDBC/EjercicioFunciones/build/
/ProcedimientosAlmacenados/EjercicioProcedimientos/nbproject/private/
/ProcedimientosAlmacenados/EjercicioProcedimientos/build/